<section ng-controller='PrototypeController as proto'>
<br><br><br>

<form id='banginEmo' ng-submit='proto.addBanginEmoticon()'>
	<div>
		<label for='newBangin-image'>
		Emoticon Image:</label>
		<input type='text' id='newBangin-image' ng-model='proto.newBanginEmoticon.image' placeholder='Enter a new Emoticon here!'>
		<br>
		<label for='newBangin-name'>
		Emoticon Name:</label>
		<input type='text' id='newBangin-name' ng-model='proto.newBanginEmoticon.name' placeholder='Enter new Emoticon name here!'>
		<br>
	</div>
	<div>
		<input type='submit' id='banginButton' value='Add Emoticon'>
</form>


<ul ng-repeat='emoticon in proto.allBangin'>
	<form id='banginDelete' ng-submit='proto.deleteEmoticon(emoticon._id)'>
	<li><span class='anEmoji'>{{emoticon.image}}</span>
		{{emoticon.name}}<input type='submit' id='deleteButton' value='X'></li>
	</form>

</ul>

</section>