<section>
<br><br><br>
<form id='coolEmo' ng-submit='proto.addCoolEmoticon()'>
	<div>
		<label for='newCool-image'>
		Emoticon Image:</label>
		<input type='text' id='newCool-image' ng-model='proto.newCoolEmoticon.image' placeholder='Enter a new Emoticon here!'>
		<br>
		<label for='newCool-name'>
		Emoticon Name:</label>
		<input type='text' id='newCool-name' ng-model='proto.newCoolEmoticon.name' placeholder='Enter new Emoticon name here!'>
		<br>
	</div>
	<div>
		<input type='submit' id='buttonSubmit' value='Add Emoticon'>
</form>


<ul ng-repeat='emoticon in proto.allCool'>
	<form id='coolDelete' ng-submit='proto.deleteEmoticon(emoticon._id)'>
		<li><span class='anEmoji'>{{emoticon.image}}</span>    
		{{emoticon.name}}<input type='submit' id='deleteButton' value='X'></li>
	</form>
</ul>
<h1>made by AC</h1>
</section>
